<!DOCTYPE HTML>
<html>
<head>
    <title>TicoCR </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
 



    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="dist/css/style.css">

</head>
<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="page-content-wrapper">
                        <div class="page-content">

                            @RenderBody()

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="index.html">Inicio</a>
                                    <ul class="dropdown">
                                        <li><a href="product-detail.html">Detalle del Producto</a></li>
                                        <li><a href="carrito.html">Carrito de Compras</a></li>
                                        <li><a href="checkout.html">Detalle de Facturación</a></li>
                                        <li><a href="order-complete.html">Completar Orden</a></li>
                                        <li><a href="add-to-wishlist.html">Lista de Pedidos</a></li>
                                    </ul>
                                </li>
                                <li><a href="computadoras.html">Equipos de Cómputo</a></li>
                                <li><a href="accesorios.html">Accesorios</a></li>
                              <!----  <li><a href="informacion.html">Información</a></li>-->
                                <li><a href="contacto.html">Contacto</a></li>
                                <li class="cart"><a href="carrito.html"><i class="icon-shopping-cart"></i> Carrito </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <div class="row">
                                <div class="owl-carousel2">
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">15% de descuento por su compra en línea con el código: TECHCR</a></h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">30% de descuento en todos los accesorios al comprar en línea</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(images/img_portada_1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1">Laptops</h1>
                                            <h2 class="head-2">Equipos de Escritorio</h2>
                                            <h2 class="head-3">Accesorios</h2>
                                            <p class="category"><span>Garantías Extendidas</span></p>
                                            <p><a href="#" class="btn btn-primary">Equipos personalizados y mucho más</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_portada_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1">Grandes</h1>
                                            <h2 class="head-2">Descuentos</h2>
                                            <h2 class="head-3"><strong class="font-weight-bold">Ahorre hasta un 30%</strong></h2>
                                            <p><a href="#" class="btn btn-primary">Mejores marcas del mercado</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_portada_3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1">Nuevos productos</h1>
                                            <h2 class="head-2">Aproveche este mes</h2>
                                            <h2 class="head-3"><strong class="font-weight-bold">Las Grandes Promociones</strong></h2>
                                            <p><a href="#" class="btn btn-primary">Atención personalizada</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="colorlib-intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="intro">Contamos con las mejores marcas y garantías del mercado.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-product">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="featured">
                            <a href="#" class="featured-img" style="background-image: url(images/computadoras.jpg);"></a>
                            <div class="desc">
                                <h2><a href="computadoras.html">Compre su equipo preferido</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="featured">
                            <a href="#" class="featured-img" style="background-image: url(images/accesorios.jpg);"></a>
                            <div class="desc">
                                <h2><a href="accesorios.html">Encuentre aquí el accesorio que anda buscando</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col footer-col colorlib-widget">
                        <h4>Acerca de los productos</h4>
                        <p>Contamos con los mejores distribuidores a nivel mundial por lo que ofrecemos productos de alta gama a precios bastante cómodos en el mercado</p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Atención Al Cliente</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Devoluciones/Cambios</a></li>
                                <li><a href="#">Tarjeta De Regalo</a></li>
                                <li><a href="#">Lista De Deseos</a></li>
                                <li><a href="#">Pedido Especial</a></li>
                                <li><a href="#">Servicio Al Cliente</a></li>
                                <li><a href="#">Mapa Del Sitio</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Information</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#">Acerca De Nosotros</a></li>
                                <li><a href="#">Información De Entrega</a></li>
                                <li><a href="#">Política De Privacidad</a></li>
                                <li><a href="#">Soporte</a></li>
                                <li><a href="#">Rastreo De Orden</a></li>
                            </ul>
                        </p>
                    </div>

                    <div class="col footer-col">
                        <h4>Noticias</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="#">Prensa</a></li>
                            <li><a href="#">Exposiciones</a></li>
                        </ul>
                    </div>

                    <div class="col footer-col">
                        <h4>Información Del Contacto</h4>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><a href="#">yoursite.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>
                           

                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap 4.1 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>
</html>
